/* Reset de margem e padding para o body */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Defina uma fonte desejada */
    background: linear-gradient(to bottom right, #91fff9, #ffffff);
    color: rgb(0, 0, 0); /* Cor do texto */
   text-align: left;
    font-size: 35px;
     margin-bottom: 600px;
}

/* Estilo dos links */
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #f9f9f9;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: #ddd;
    color: #000;
}

a:visited {
    color: rgb(0, 0, 0); /* Cor dos links visitados */
}
